<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}{% endblock title %}
    </title>
    <style>
      @media screen and (max-width: 599px) {
        .mobile-hidden {
          display: none !important;
        }
        .textContainer {
          padding: 20px;
        }
      }
      @media screen and (min-width: 600px) {
        .web-hidden {
          display: none !important;
        }
      }
    </style>
  </head>
  <body
    style="
      font-family: sans-serif;
      margin: 0;
      background: #bed3fd;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    {% block body %}{% endblock body %}
  </body>
</html>
