{% extends "layouts/base.j2" %}

{% from "components/heading.j2" import heading %}
{% from "components/paragraph.j2" import paragraph %}
{% from "components/signature.j2" import signature %}

{% block body %}
    {% call heading() %}
        Welcome {{ name|e }}
    {% endcall %}
    {% call paragraph() %}
        Thank you for signing up.
    {% endcall %}
    {{ signature() }}
{% endblock body %}
